.profile {
  text-align: center;
  margin-right: 50px;
}

#greet {
  font-size: 25px;
  margin: 10px auto 20px auto;
}

.title {
  margin: 0px;
  margin-bottom: 20px;
  width: 300px;
}

.check {
  font-size: 40px;
  margin-right: 5px;
}

#current {
  font-size: 20px;
  margin-bottom: 2rem;
}

.signout_button {
  color: #2573ef;
  background-color: white;
  border-color: #2573ef;
  font-weight: bold;
  border-width: 4px;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 3rem;
  margin-left: 0rem;
  border-radius: 100px;
  cursor: pointer;
  transition-duration: 0.2
}

.signout_button:hover {
  color: #FF2C48;
  border-color: #FF2C48;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.password_box {
  width: 220px;
  height: 20px;
  margin-top: 1.2rem;
  margin-left: 20px;
  /* margin-bottom: 20px; */
}

.password_change_button {
  color: #2573ef;
  background-color: white;
  border-color: #2573ef;
  font-weight: bold;
  margin: auto;
  margin-top: 3rem;
  border-width: 4px;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
  transition-duration: 0.2
}

.new_license_name {
  width: 201px;
  height: 22px;
  margin-bottom: 20px;
  margin-top: -4px;
  margin-left: -50rem;
  float: right;
  padding: 12px 12px;
}

.new_license_expiration {
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 22px;
  margin-bottom: 20px;
  margin-top: -4px;
  float: right;
  padding: 12px 12px;
}

.license_add_button {
  color: #2573ef;
  background-color: white;
  border-color: #2573ef;
  font-weight: bold;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: -50rem;
  border-width: 4px;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
  transition-duration: 0.2
}

.wrong_1 {
  font-size: 13px;
  font-weight: bold;
  color: #ff4d64;
  margin-top: 5px;
  margin-right: 13px;
  float: right;
}

.wrong_2 {
  font-size: 13px;
  font-weight: bold;
  color: #ff4d64;
  margin-top: 5px;
  margin-right: 18px;
  float: right;
}

.wrong_3 {
  font-size: 13px;
  font-weight: bold;
  color: #ff4d64;
  margin-top: 6px;
  margin-right: 0px;
  float: right;
}

.mypage_menu {
  margin-top: 5.3rem;
  width: 200px;
}

.mypage_login_button {
  color: #2573ef;
  background-color: white;
  border-color: #2573ef;
  font-weight: bold;
  border-width: 4px;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
}

.signout_box {
  width: 220px;
  height: 20px;
  padding: 12px 12px;
  margin-top: 2rem;
  margin-left: 20px;
  /* margin-bottom: 20px; */
}

#license_expiration {
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  margin-top: -2.65rem;
  margin-left: 400px;
}

.D-day {
  margin-top: 0.4rem;
}

.internship_expiration {
  margin-top: 1.5rem;
}

.internship_title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 5rem;
}

.page_number {
  font-size: 20px;
  letter-spacing: 10px;
  margin-top: 80px;
}

.header_logo {
  margin-top: 0rem;
}